{% extends '@App/layout.html.twig' %}

{% block content %}
    <header class="page-header">
        <h1>
            {{ 'app.ui.crud.list.title'|trans }}
            <a href="{{ path(baseRoute ~ 'create') }}" class="btn btn-primary">{{ 'app.ui.crud.create.button'|trans }}</a>
        </h1>
    </header>

    <table class="table">
            <thead>
                <tr>
                    <th>{{ 'app.ui.label.id'|trans }}</th>
                    <th>{{ 'app.ui.label.title'|trans }}</th>
                    <th>{{ 'app.ui.label.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in resources %}
                    {% set id = resource.id %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ resource.title }}</td>
                    <td>
                        <a href="{{ path(baseRoute ~ 'show', {'id': id}) }}" class="btn btn-default">{{ 'app.ui.crud.show.button'|trans }}</a>
                        <a href="{{ path(baseRoute ~ 'update', {'id': id}) }}" class="btn btn-success">{{ 'app.ui.crud.update.button'|trans }}</a>
                        <a href="{{ path(baseRoute ~ 'delete', {'id': id}) }}" class="btn btn-danger">{{ 'app.ui.crud.delete.button'|trans }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}